node_modules
.DS_Store
app/gui/build/
.env

tests/e2e/test-results/
tests/e2e/playwright-report/
tests/e2e/blob-report/
tests/e2e/playwright/.cache/

**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

deployment/charts/*/charts/
